
<h2> Welcome to the Sign up Page of Buidling Durable Infrastructure. </h2>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder='Email Address:'>
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
