<h1>Edit Shopping List</h1>

<form action="/shoppinglist/<%= @shoppinglist.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name of shopper: </label>
  <input type="text" name="shoppinglist[name_of_shopper]" value="<%=@shoppinglists.name_of_shopper%>"/><br />
  <label>Number of items: </label>
  <textarea rows="12" cols="80" type="text" name="shoppinglist[num_of_items]" value="<%=@shoppinglist.num_of_items%>"></textarea><br />
  <label>Time of pickup: </label>
  <textarea type="text" name="shoppinglist[time_of_pickup]" value="<%=@shoppinglist.time_of_pickup%>" rows="12" cols="80" > </textarea><br />
  <input type="submit" value="Edit Shopping List">
</form>
