<h3>Add a Shopping List</h3>

<form action="/shoppinglist" method="post">
  <label>Name of Shopper: </label>
  <input type="text" name="name_of_shopper" /><br />
  <label>Number of items: </label>
  <textarea rows="12" cols="80" type="text" name="num_of_items"></textarea><br />
  <label>Time of Pickup: </label>
  <textarea type="text" name="time_of_pickup" rows="12" cols="80" > </textarea><br />
  <input type="submit" value="Create Shopping List">
</form>
